:root {
    --background-primary: #271c2d;
    --background-secondary: #e9b8f8;
    --text-primary: #f8f3f3;
    --text-secondary: #aeaaa4;
    --grayish: #e7edf2;
    --dark-blue: #273648;
    --dark-purple: #6c498b;
    --purple: #8e68bd;
    --player-box-shadow: #b87adf;
    --purple-100: #eec8fb;
    --purple-200: #eab4fc;
    --purple-600: #d567fa;
    --light-red: #ec4b62;
    --white: #fafeff;
    --orange: #ff6342;


    --gold: #fed163;
    --gold-100: #fcda82;
    --gold-600: #fba500;
    --gold-shadow: #dc9713;
    --silver: #65d7fc;
    --blue-100: #83e1ff;
    --blue-600: #00b0f9;
    --silver-shadow: #5baddd;
    --bronze: #fe707e;
    --red-100: #f8939b;
    --red-600: #fb454b;
    --bronze-shadow: #f51326;

    --gradient-from: #01aabe;
    --gradient-to: #00baac;
    --border-primary: #fb4654;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 1rem;
}

body {
    background-color: var(--background-primary);
    /* position: relative; */
}

#root {
    position: relative;
    min-height: 100vh;
}

/* Utilite classes */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.relative {
    position: relative;
}

.p-1 {
    padding: 1rem;
}

.p-block-1 {
    padding-block: 1rem;
}

.bg-blue-100 {
    background-color: #e3f5fb;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-full {
    margin-bottom: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.radius-8 {
    border-radius: 8px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 50;
}

/* End */

/* Header */

header {
    padding-block: 1.5rem;
}

.logo {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1em;
    color: var(--white);
    outline: 3px solid var(--border-primary);
    outline-offset: 3px;
    border-radius: 100vh;
    padding: .2rem 1rem;
    background-color: var(--light-red);
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #07132ad5;
    backdrop-filter: blur(5px);
    width: 70%;
    height: 100%;
    z-index: 1000;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform .2s ease-in-out;
}

.primary-nav {}

.nav__ul {
    display: grid;
    justify-items: center;
    gap: 2rem;
}

.nav__link {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 500;
    color: #7288aa;
}

.nav__link.active {
    color: var(--text-primary);
    padding: .3rem 2rem;
    border-radius: 8px;
    border: 1px solid #4751588f;
}

.canvas-off {
    transform: translateX(0);
}


.close-button-wrapper {
    background-color: #010409;
    padding-block: 2.5rem;
    width: 100%;
    display: grid;
    justify-content: center;
    border-bottom: 2px solid #1f283a;
    margin-bottom: 2rem;
}

.nav-close-icon {
    --_size: 35px;
    width: var(--_size);
    height: var(--_size);
    color: #c3cadd;
}

.hamburger-icon {
    --_size: 45px;
    width: var(--_size);
    height: var(--_size);
    color: var(--text-primary);
}

/* End */

/* Hero section */
.hero-section {
    position: relative;
    background-image: url("../public/assets/images/hero-section-bg1.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-block: 3rem;
    isolation: isolate;
}

.hero-title {
    color: var(--text-primary);
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    padding-inline: 2rem;
}

.hero-title span {
    font-weight: 600;
    font-size: 2rem;
}

.hero-description {
    color: var(--text-secondary);
    text-align: center;
    padding-inline: 2rem;
    font-size: 0.9rem;
}

.hero-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.72;
    z-index: -1;
}

/* End */

/* Register form */
.register-form {
    background-color: var(--white);
    margin-top: 2rem;
    border-radius: 8px;
    overflow: hidden;
}

.form-title {
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, var(--gradient-from), var(--gradient-to));
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1em;
}

form {
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

form input {
    background-color: var(--grayish);
    border: 1px solid transparent;
    outline: none;
    font-size: 1.3rem;
    padding: .5rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.active-error {
    animation: ping 1s ease-in-out infinite;
}

@keyframes ping {
    0% {
        border-color: rgba(255, 0, 0, 0.418);
        background-color: rgba(255, 0, 0, 0.082);
    }

    100% {
        border-color: rgba(255, 0, 0, 0.938);
    }
}

form input::placeholder {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.507);
}

.register-form-buttons-wrapper {
    display: flex;
    gap: 1rem;
}

.register-form-buttons-wrapper>* {
    flex: 1
}

.plus-icon {
    --size: 40px;
    width: var(--size);
    height: 100%;
    background-color: var(--white);
    color: #5caf21;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-icon::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    border: 9px solid;
    border-color: transparent transparent transparent var(--white);
}

.primary-btn {
    background-color: #5caf21;
    text-transform: uppercase;
    font-size: 1.05rem;
    color: var(--white);
    font-weight: 500;
    padding: 0.6rem 1.5rem 0.6rem 3.5rem;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #5caf21;
}

.new-game-btn {
    background-color: transparent;
    border: 1px solid var(--grayish);
    color: var(--dark-blue);
    padding: 0.6rem 1.5rem;
}

dialog {
    margin: auto;
    border: none;
    border-radius: 8px;
}

.new-game-modal {
    padding-top: 1rem;
    background-color: #222327;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.4);
}

.new-game-modal::backdrop {
    background-color: #39424c;
    opacity: 0.7;
}

.new-game-modal p {
    padding: .5rem 1.5rem;
    color: var(--text-primary);
    text-transform: capitalize;
}

.modal-buttons-wrapper {
    background-color: #303137;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-buttons-wrapper button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: var(--text-primary);
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
}

.modal-buttons-wrapper button:first-child {
    border: 1px solid #414141;
}

.modal-buttons-wrapper button:last-child {
    background-color: #4741fc;
}

/* End */

/* LeaderBoard section */
.leaderboard {
    --border-radius: 32px;

    position: relative;
    background-color: var(--dark-purple);
    margin-block: 4rem;
    border-radius: var(--border-radius);
    padding-top: 2.5rem;

    min-height: 100px;
}

.leaderboard::after {
    position: absolute;
    content: "leaderboard";
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    background-color: var(--light-red);
    color: var(--white);
    padding: .5rem 1.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 1px 0px #f0002d;
    border-radius: 8px;
}


.player-list-container {
    padding: 0.5rem;
    padding-block: 1.5rem;
    background-color: var(--purple);
    border-radius: var(--border-radius);
    display: grid;
    gap: 1rem;
    min-height: 100px;
}

.player {
    --player-score-bg: var(--purple-600);

    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    color: var(--white);
    box-shadow: 0 4px 1px 0 var(--player-box-shadow);
    background-image: radial-gradient(var(--purple-200) 60%, var(--purple-100));
}

.option-icon {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: 100vh;
    margin-right: 1rem;
    color: var(--white);
}

.player__number {
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: 600;
}

.player__name {
    margin-inline: auto;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.player__score {
    position: relative;
    background-color: var(--player-score-bg);
    padding: 0.2rem 0.5rem 0.2rem 1.8rem;
    font-weight: 600;
    border-radius: 8px;
    font-size: 0.85rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    min-width: 80px;
    text-align: center;
}

.star-icon {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: -3px;
    top: -1px;
    background-color: #f0e942;
    background: linear-gradient(to right, #fad87c, #e4bc1f);
    border-radius: 100vh;
    padding: .1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.player:nth-child(1) {
    --player-score-bg: var(--gold-600);
    --player-box-shadow: var(--gold-shadow);
    background-image: radial-gradient(var(--gold) 60%, var(--gold-100));
}

.player:nth-child(2) {
    --player-score-bg: var(--blue-600);
    --player-box-shadow: var(--silver-shadow);
    background-image: radial-gradient(var(--silver) 60%, var(--blue-100));
}

.player:nth-child(3) {
    --player-score-bg: var(--red-600);
    --player-box-shadow: var(--bronze-shadow);
    background-image: radial-gradient(var(--bronze) 40%, var(--red-100));
}

/* End */

/* Modal */

.fs-09 {
    font-size: 0.9rem;
}

.bg-blue {
    background-color: #0070c1 !important;
    border-color: #0070c1 !important;
    color: #c3ddf0 !important;
}

.color-blue {
    color: #0070c1 !important;
}

.bg-light-red {
    background-color: var(--light-red) !important;
    border-color: var(--light-red) !important;
}

.color-light-red {
    color: var(--light-red) !important;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.modal-form {

    --title-text-clr: #30a9de;

    background-color: var(--white);
    border: 2px dashed #accee9;
    padding: .2rem;
}

.modal-title {
    color: var(--title-text-clr);
    text-transform: uppercase;
    font-weight: 500;
}

.close-icon {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    color: var(--title-text-clr);
}

.form-buttons-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.edit-icon,
.delete-icon {
    --size: 30px;
    width: var(--size);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    color: red;
}

.edit-icon::after,
.delete-icon::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    border: 9px solid;
    border-color: transparent transparent transparent var(--white);
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    opacity: 0.8;
}

/* End */

/* Dice */
.dice-section {
    padding-block: 2rem;
    /* background: radial-gradient(circle at top, #404149, #191b22 40%); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-color: #191b22;
    min-height: 100svh;
}

.dices-parent {
    position: relative;
    padding-inline: 3rem;
}

.dices-parent::after,
.dices-parent::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 100%;
    z-index: 2;
    top: 0;
}

.dices-parent::after {
    right: 0;
    background: linear-gradient(to left, #191b22, transparent);
}

.dices-parent::before {
    left: 0;
    background: linear-gradient(to right, #191b22, transparent);
}

.dices-container {
    display: flex;
    gap: 1rem;
    width: 100px;
    transition: all 0.4s ease-in-out;
    transform: translateX(var(--x));
}

.dice-title {
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    color: transparent;
    background-image: linear-gradient(to right, #fe7dac, #fea055, #e2ef48, #7eeacb, #97bffe);
    -webkit-background-clip: text;
    background-clip: text;
}

.dice {
    --_size: 100px;
    position: relative;
    width: var(--_size);
    aspect-ratio: 1;
    background-color: #374668;
    border-radius: 8px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border: 2px solid var(--blue-600);
    flex-shrink: 0;
}

.dice span {
    --_size: 23px;
    position: absolute;
    width: var(--_size);
    aspect-ratio: 1;
    display: block;
    border-radius: 100vh;
    background-color: #b6c0d3;
}

.rolls-history {
    margin-top: 4rem;
    background-color: #fafff4;
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
    position: relative;
    border-radius: 8px;
}

.rolls-history__title {
    padding: .5rem 1rem;
    font-size: 1.3rem;
    color: var(--text-primary);
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: #7eb820;
}

.rolls-history__para {
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    padding-block: 0.5rem;
    backdrop-filter: blue(5px);
    background-color: #ffffffe1;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.04)
}

.roll {
    position: relative;
    background-color: #f3f7fd;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-inline: 0.5rem;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.04)
}

.roll.six::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #4c77db;
}

.roll.six span {
    color: #4c77db;
}

.roll span {
    color: #8893aa;
    font-size: 1.3rem;
    font-weight: 600;
}


/* _one */
.dice-one span {
    --_size: 45px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* _two */
.dice-two {
    --_position: 10px;
}

.dice-two span:nth-child(1) {
    left: var(--_position);
    top: var(--_position);
}

.dice-two span:nth-child(2) {
    bottom: var(--_position);
    right: var(--_position);
}

/* _three */
.dice-three {
    --_position: 10px;
}

.dice-three span:nth-child(1) {
    bottom: var(--_position);
    left: var(--_position);
}

.dice-three span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dice-three span:nth-child(3) {
    top: var(--_position);
    right: var(--_position);
}

/* _four */
.dice-four {
    --_position: 10px;
}

.dice-four span:nth-child(1) {
    top: var(--_position);
    left: var(--_position);
}

.dice-four span:nth-child(2) {
    top: var(--_position);
    right: var(--_position);
}

.dice-four span:nth-child(3) {
    bottom: var(--_position);
    left: var(--_position);
}

.dice-four span:nth-child(4) {
    bottom: var(--_position);
    right: var(--_position);
}

/* _five */
.dice-five {
    --_position: 10px;
}

.dice-five span:nth-child(1) {
    top: var(--_position);
    left: var(--_position);
}

.dice-five span:nth-child(2) {
    top: var(--_position);
    right: var(--_position);
}

.dice-five span:nth-child(3) {
    bottom: var(--_position);
    left: var(--_position);
}

.dice-five span:nth-child(4) {
    bottom: var(--_position);
    right: var(--_position);
}

.dice-five span:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* _six */
.dice-six {
    --_position: 10px;
}

.dice-six span:nth-child(1) {
    top: var(--_position);
    left: var(--_position);
}

.dice-six span:nth-child(2) {
    top: var(--_position);
    right: var(--_position);
}

.dice-six span:nth-child(3) {
    translate: 0 -50%;
    top: 50%;
    left: var(--_position);
}

.dice-six span:nth-child(4) {
    translate: 0 -50%;
    top: 50%;
    right: var(--_position);
}

.dice-six span:nth-child(5) {
    bottom: var(--_position);
    left: var(--_position);
}

.dice-six span:nth-child(6) {
    bottom: var(--_position);
    right: var(--_position);
}

.roll-dice-btn {
    background: linear-gradient(to right, #677be6, #7257b3);
    color: var(--text-primary);
    font-size: 1.4rem;
    margin-top: 4rem;
    border-radius: 100vh;
    padding: .5rem 3rem;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.roll-dice-btn.disable {
    pointer-events: none;
    border-color: var(--text-secondary);
    background: transparent;
}

/* End */

/* Footer */
footer {

    --_span-margin: .3rem;

    background-color: #211f20;
    color: var(--text-primary);
    text-transform: capitalize;
    font-weight: 500;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    padding-block: 3rem;
}

.heart-icon {
    display: block;
    --_size: 20px;
    width: var(--_size);
    height: var(--_size);
    color: var(--light-red);
    margin-inline: var(--_span-margin)
}

.author-name {
    color: #d5e638;
    margin-left: var(--_span-margin);
}

/* End */